<!-- category-catalog.component.html -->
<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <div class="p-4 space-y-2">
      <h2 class="text-3xl font-bold text-gray-800">Sub Categories</h2>
      <p class="text-lg text-gray-500">
        Parent Category: <span class="font-semibold text-gray-700">{{ categorySubCategory }}</span>
      </p>
    </div>

    <div class="m-2 flex flex-col space-y-2 md:flex-row md:space-x-2">
      <p-button label="Add Sub-Category" icon="pi pi-plus" (onClick)="showAddSubCategoryDialog()">
      </p-button>
    </div>
  </div>

  <p-table
    [value]="subCategories"
    [paginator]="subCategories.length > 20"
    [loading]="loading"
    [globalFilterFields]="['name']"
    (onPage)="onPageChange($event)"

    #dt
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-between items-center">
        <span class="p-input-icon-left">
          <i class="pi pi-search mr-2"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search sub-categories..."
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">
          Description <p-sortIcon field="description"></p-sortIcon>
        </th>
        <!-- <th  pSortableColumn="description">
          Category <p-sortIcon field="description"></p-sortIcon>
        </th> -->
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-subCategory>
      <tr>
        <td>{{ subCategory.name }}</td>
        <td>{{ subCategory.description }}</td>
        <!-- <td>{{ subCategory.category_id }}</td> -->

        <td>
          <div class="flex flex-col lg:flex-row">
            <p-button
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text p-button-success mr-2 mb-2"
              pTooltip="Edit"
              (onClick)="editSubCategory(subCategory)"
            >
            </p-button>
            <p-button
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-danger"
              pTooltip="Delete"
              severity="danger"
              (onClick)="deleteSubCategory(subCategory)"
            >
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>

    <!-- Empty state template -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center py-8">
          <div class="flex flex-col items-center">
            <i class="pi pi-inbox text-4xl text-gray-400 mb-4"></i>
            <p class="text-gray-500">No sub-categories found</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-sub-category-form
    [(visible)]="showSubDialog"
    [subCategory]="selectedSubCategory"
    (save)="onProductSave($event)"
    (onHide)="showSubDialog = false"
    [categoryIdPassed]="categoryId"
  />

  <p-confirmDialog></p-confirmDialog>
</div>
