@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
  font-family: "Lexend", sans-serif;
}

.input {
  @apply w-full text-black placeholder:text-slate-400 pl-10 pr-4 py-2 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent transition;
}

.btn-purple-prim {
  @apply bg-purple-600 cursor-pointer hover:bg-purple-700 p-3 transition-colors flex justify-center items-center text-white;
}

.btn-white-prim {
  @apply bg-white hover:bg-black  p-6 transition-colors flex items-center text-black;
}

.btn-white-prim:hover {
  @apply bg-black text-white;
}

::ng-deep .square-dialog .p-dialog-content,
::ng-deep .square-dialog .p-dialog-header,
::ng-deep .square-dialog .p-dialog-footer,
::ng-deep .square-dialog {
  border-radius: 0 !important;
}

/* If you want to remove borders entirely */
::ng-deep .square-dialog {
  border: none !important;
}
